@import '~antd/lib/style/themes/default.less';

.antd-x-detail-view {
  background-color: @background-color-base;
  padding: 6px;
  margin-bottom: 12px;

  .content{
    padding: 3px 12px;

    .attribute{
      width: 100%;
      line-height: 2em;

      .label{
        width: 40%;
        font-weight: bold;
        display: inline-block;
      }
    }
  }



}